{% extends 'web/layout.html' %}

{% block title %}
<title>AI tutor</title>
{% endblock %}

{% block body %}
<!-- Hidden CSRF token input -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% if note %}
<h1>Notes uploaded!</h1>
<a href="{% url 'web:remove_note' note.id %}">Remove note</a>
<form action="{% url 'web:ai_evaluator' %}" method="post">
    {% csrf_token %}
    <label>
        <input type="radio" name="quiz" value="mcq">
        Take a quiz (MCQs)
    </label>
    <label>
        <input type="radio" name="quiz" value="written">
        Test your knowledge (Written)
    </label>
    <label>
        <input type="radio" name="quiz" value="challenge">
        Challenge yourself (Written)
    </label>
    <button type="submit">Submit</button>
</form>
<hr>
{% else %}
<h1>Upload Note</h1>
<form method="post" action="{% url 'web:upload_note' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">File:</label>
    <input type="file" id="file" name="file" required>
    <button type="submit">Upload</button>
</form>
<div id="uploaded-file"></div>
{% endif %}


<br>
<a href="{% url 'web:index' %}">Home</a>

{% endblock %}