{% extends 'web/layout.html' %}

{% block title %}
<title>Project</title>
{% endblock %}

{% block body %}
<h1>Practical project</h1>
<hr>
<p>{{project.project}}</p>
<hr>
<p><strong>AI project manager is going to judge it for you</strong></p>
<form method="post" action="{% url 'web:upload_note' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">Upload the report about your project:</label>
    <input type="file" id="file" name="file" required>
    <input type="hidden" name="subject_id" value="{{subject.id}}">
    <button type="submit">Upload</button>
</form>
<div id="uploaded-file"></div>
{% endblock %}