{% extends 'web/layout.html' %}

{% block title %}
<title>Research</title>
{% endblock %}

{% block body %}
<h1>Research</h1>
<hr>
<p>{{research}}</p>
<hr>
<form method="post" action="{% url 'web:upload_note' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">Upload your research paper:</label>
    <input type="file" id="file" name="file" required>
    <input type="hidden" name="subject_id" value="{{subject.id}}">
    <button type="submit">Upload</button>
</form>
<div id="uploaded-file"></div>
{% endblock %}