{% extends 'web/layout.html' %}

{% block title %}
<title>Research</title>
{% endblock %}

{% block body %}
<div class="container p-5 m-3" style="background-color: #fff; border-radius: 2rem;">
    <h1>Research</h1>
    <hr>
    <p>{{research | safe}}</p>
    <hr>
    <form method="post" action="{% url 'web:ai_research_evaluator' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="file" required>
        <input type="hidden" name="note_id" value="{{note.id}}">
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
    <div id="uploaded-file"></div>
</div>
{% endblock %}