{% extends 'web/layout.html' %}

{% block title %}
<title>Evaluation test</title>
{% endblock %}

{% block body %}

<h1>OOP Quiz</h1>
<form method="post" action="{% url 'web:evaluate_student' quiz_id %}">
    {% csrf_token %}
    {% for question, options in test.test.items %}
    <div>
        <p><strong>{{ question }}</strong></p>
        {% if quiz_type == 'MCQ' %}
            {% for option in options %}
            <div>
                <label>
                    <input type="radio" name="{{ question }}" value="{{ option }}">
                    {{ option }}
                </label>
            </div>
            {% endfor %}
        {% else %}
        <textarea name="{{ question }}"></textarea>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" name="answers">Submit</button>
</form>

{% endblock %}