{% extends 'web/layout.html' %}

{% block title %}
<title>{{subject.subject_name}}</title>
{% endblock %}

{% block body %}
<div class="title">
    <h1>{{subject.subject_name}}</h1>
</div>

<!-- Cards -->
<div class="cards">
    <div class="card">
        <h1>Practical projects</h1>
        <div class="desc">
            <div>
                <p>Number of projects</p>
                <div class="circles">
                    <div id="green-circle" class="circle"></div>
                    <div id="green-circle" class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div>
                <p>Average grades</p>
                <div class="grad">
                    <span>87.1%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h1>Scientific research</h1>
        <div class="desc">
            <div>
                <p>Number of projects</p>
                <div class="circles">
                    <div id="green-circle" class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div>
                <p>Average grades</p>
                <div class="grad">
                    <span>65%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h1>Group projects</h1>
        <div class="desc">
            <div>
                <p>Number of projects</p>
                <div class="circles">
                    <div id="green-circle" class="circle"></div>
                    <div id="green-circle" class="circle"></div>
                    <div id="green-circle" class="circle"></div>
                </div>
            </div>
            <div>
                <p>Average grades</p>
                <div class="grad">
                    <span>100%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- notes -->
<div class="notes-container">
    <div class="header">
        <h1>Uploaded notes</h1>
        <a href="#">Show all</a>
    </div>
    <hr>
    <div class="notes">
        {% for note in notes %}
        <div class="note">
            <div class="note-title">
                <div class="point"></div>
                <h3>{{ note.name }}</h3>
            </div>
            <span>6/10</span>
            <div class="progress">
                <div style="height: 20px" class="progress" role="progressbar" aria-label="Example with label"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="
                    width: {{ note.note_progress }}%;
                    background: linear-gradient(
                      270deg,
                      #b8e4fd 0%,
                      #40a0be 100%
                    );
                  ">
                        {{ note.note_progress }}%
                    </div>
                </div>
            </div>
            <button><a href="{% url 'web:open_note' note.id %}" class="card-link text-light">Open</a></button>
            <a href="{% url 'web:remove_note' note.id %}" class="card-link text-danger"><i class="bi bi-trash"></i></a>
        </div>
        <hr>
        {% empty %}
        <p>You have not uploaded any notes for this subject</p>
        {% endfor %}
    </div>
</div>

<form class="m-5 p-5" style="background-color: white; border-radius: 2rem;" method="post" action="{% url 'web:upload_note' %}"
    enctype="multipart/form-data">
    <h1>Upload your own notes</h1>
    <hr>
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" name="file" required>Name of your notes</span>
        <input type="text" class="form-control" placeholder="e.g. Data structure and algorithm"
            id="name" name="name" type="file" required>
    </div>
    <input type="file" id="file" name="file" required> <br><hr>
    <input type="hidden" name="subject_id" value="{{subject.id}}">
    <button type="submit" class="btn btn-success">Upload</button>
</form>
{% endblock %}